div, p, a, body, input, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    border: unset;
}

h1, h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
}

.color-blue {
    color: #0072FF;
    font-weight: 600;
}

.color-white {
    color: #FFF;
    font-weight: 600;
}

.main-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20vmin;
    padding: 0 15px 0 10px;
}

.pseudo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0C1126;
}

.header__main, .header__info {
    margin-top: 5vmin;
}

.header__main {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.header__main img {
    width: 67px;
    height: 73px;
}

.header__info {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: end;
}

.header__info-small {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: end;
    margin-top: 3px;
}

main {
    position: relative;
}

main h1 {
    font-size: 36px;
    line-height: 128%;
    max-width: 750px;
    margin-top: 10vmin;
}

.container__items {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    margin-top: 4vmin;
    margin-left: 1vmin;
}

.bg-img {
    position: absolute;
    right: -19%;
    width: 449px;
    height: 449px;
    z-index: -1;
    background-size: 449px;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("../img/main-background.png");
}

.container__item {
    display: flex;
    gap: 32px;
    align-items: center;
}

.item-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 71px;
    border-radius: 50%;
    background: #0072FF;
}

.item-circle img {
    object-fit: scale-down;
}

.item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 148.4%;
    color: #000;
    max-width: 400px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    color: #FFF;
    padding: 0 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/quiz-background.png");
}

#step-2 h2, #step-3 h2, #step-4 h2,
#step-4 h2, #step-5 h2, #step-6 h2,
#step-7 h2, #step-8 h2, #step-9 h2,
#step-10 h2, #step-11 h2 {
    font-weight: 600;
}

#step-11 h2 {
    text-transform: uppercase;
}

.quiz input {
    border-radius: 5px;
    color: #0C1126;
    cursor: pointer;
}

.quiz #step-1 input {
    min-width: 380px;
    box-sizing: border-box;
    padding: 20px 25px;
}

.quiz #step-8 .quiz__item {
    min-width: 380px;
}

.form__item input {
    margin-right: 20px;
}

.quiz input:focus {
    outline: none;
    font-weight: 600;
}

.validator:invalid {
    transition: 0.1s;
    border: 3px solid #EB3349;
}
.validator:valid {
    transition: 0.7s;
    border: 3px solid #0072FF;
    box-shadow: 0 0 10px #0072FF;
}
.validator:invalid:not(:focus) {
    border: 1px solid #0C1126;
}

.btn-quiz {
    min-width: 380px;
    padding: 20px 25px;
    background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 148.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.btn-quiz:hover {
    box-shadow: 0 0 20px #00C6FF;
}

.step__info {
    font-weight: 400;
    font-size: 15px;
    line-height: 148%;
    margin-top: 2vmin;
}

.quiz__discount {
    font-weight: 600;
    font-size: 22px;
    line-height: 148.4%;
    margin-top: 12px;
}

.quiz__item {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 100%;
    max-width: 380px;
    background: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
}

.quiz__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quiz__input {
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;
}

.quiz__span {
    border-radius: 50%;
    border: 1px solid #0072FF;
    width: 34px;
    height: 34px;
    margin-right: 15px;
    transition: 0.5s;
}

.quiz__input:checked + .quiz__span,
.quiz__input:focus + .quiz__span {
    background: #0072FF;
}

.quiz__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 148.4%;
    text-align: left;
    max-width: 265px;
    color: #0C1126;
}

.quiz__bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#step-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#step-2, #step-3, #step-4,
#step-4, #step-5, #step-6,
#step-7, #step-8, #step-9,
#step-10, #step-11 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#step-1 .step__container {
    margin-top: 4vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#step-2 .step__container, #step-3 .step__container,
#step-4 .step__container, #step-5 .step__container,
#step-6 .step__container, #step-7 .step__container,
#step-8 .step__container, #step-9 .step__container,
#step-10 .step__container, #step-11 .step__container {
    margin-top: 4vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }

    .pseudo-header {
        padding: 0 4vmin;
    }

    main, aside {
        padding: 0 3vmin;
    }

    .bg-img {
        position: absolute;
        right: 25%;
        top: 20%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/main-background-mobile.png");
    }

    main h1 {
        max-width: 100%;
    }

    aside {
        width: 100%;
        padding: 12vmin 0 30vmin;
    }
}

@media screen and (max-width: 768px) {
    .header__main div {
        display: none;
    }

    .header__info {
        font-size: 12px;
        line-height: 15px;
    }

    .container__item {
        font-size: 14px;
        line-height: 148.4%;
    }

    .item-circle {
        align-items: unset;
    }

    .bg-img {
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 600px) {
    main h1 {
        font-size: 20px;
        line-height: 127.9%;
    }

    .item-text {
        font-size: 14px;
        line-height: 148.4%;
    }

    h2 {
        font-size: 16px;
        line-height: 148.4%;
    }

    .quiz__span {
        width: 16px;
        height: 16px;
    }

    #step-11 h2 {
        font-size: 20px;
    }

    .quiz__discount {
        font-size: 16px;
    }

    .step__info {
        font-size: 13px;
    }
}

@media screen and (max-width: 425px) {
    .bg-img {
        width: 400px;
        background-size: 410px;
        top: -13%;
    }

    .container__items {
        margin-left: 0;
        gap: 35px;
    }

    .container__item {
        gap: 15px;
    }

    .item-circle {
        width: 57px;
        height: 57px;
    }

    aside {
        background-image: url("../img/quiz-background-mobile.png");
    }

    aside section {
        padding: 0 5px;
    }

    #step-2 .step__container, #step-3 .step__container,
    #step-4 .step__container, #step-5 .step__container,
    #step-6 .step__container, #step-7 .step__container,
    #step-8 .step__container, #step-9 .step__container,
    #step-10 .step__container, #step-11 .step__container {
        min-width: 350px;
    }

    .quiz #step-1 input {
        min-width: 350px;
    }

    .btn-quiz {
        min-width: 350px;
    }

    .quiz__item {
        max-width: 350px;
    }

    .quiz #step-8 .quiz__item {
        min-width: 350px;
    }
}

@media screen and (max-width: 375px) {
    .bg-img {
        width: 350px;
    }
}